html {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
  background-color: #f1f1f1;
}

header {
  background-color: #fff;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h1 {
  color: blue;
}

button {
  background-color: blue;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}
